@model Sisgtfhka.Models.SerialProductModel
@{
    ViewData["Title"] = "Resultado del Proceso";
}

<h2>Detalle del Archivo</h2>
<h4>Información:</h4>
<div class="row">

    <hr />
    <div class="col-md-4">

        <div class="">

            @Html.Raw(Model.FileProcessMessage)

        </div>

    </div>
</div>

<dl class="dl-horizontal">
    <dt></dt>
    <dd></dd>
</dl>

<div>
    <a asp-action="Index">Regresar</a>
</div>