@model Sisgtfhka.Models.FinalsClientsModel

@{
    ViewData["Title"] = "Crear Nuevo Cliente Final";
}

<h2>Crear Nuevo Cliente Final</h2>

<h4>Use el formulario siguiente para registrar un Cliente Final.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ViewCreateFinalClient" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rif" class="control-label"></label>
                <input asp-for="Rif" class="form-control" />
                <span asp-validation-for="Rif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fiscalAddress" class="control-label"></label>
                <input asp-for="fiscalAddress" class="form-control" />
                <span asp-validation-for="fiscalAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </form>
    </div>
    </div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
