@model Sisgtfhka.Models.MenuModel

@{
    ViewData["Title"] = "Editar Relación";
    int idRol0 = Model.RolId;
}

<h2>Editar Relación con Rol</h2>

<h4>Detalles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRelation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="id" type="hidden" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" id="idRol0" name="idRol0" class="form-control" value="@idRol0" />
            </div>
            <div class="form-group">
                <label class="control-label">Rol</label>
                @Html.DropDownListFor(model => model.RolId, (IEnumerable<SelectListItem>)ViewBag.Opciones, "", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RolId)
                <span asp-validation-for="RolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" disabled="disabled" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="parentId" class="control-label"></label>
                <input asp-for="parentId" class="form-control" disabled="disabled" />
                <span asp-validation-for="parentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="level" class="control-label"></label>
                <input asp-for="level" class="form-control" disabled="disabled" />
                <span asp-validation-for="level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="order" class="control-label"></label>
                <input asp-for="order" class="form-control" disabled="disabled" />
                <span asp-validation-for="order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="visible" disabled="disabled" /> @Html.DisplayNameFor(model => model.visible)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
