@{
    ViewData["Title"] = "Acerca";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Consiste en una Nueva Plataforma de Gestión Operativa (Conjunto de Servicios y Aplicaciones) que se adapte a una Arquitectura Empresarial
   que incorpore buenas prácticas de procedimientos operativos pre-venta y post.venta de la empresa Bits Americas SAS Colombia.
</p>
