@{
    ViewData["Title"] = "Contacto";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Calle 106A#54-26, Local 2-1. Planta Baja.<br />
    Portal del Norte. Bogota – Colombia<br /><br />
    Teléfonos: (+57.0212) MASTER 601-2020811/<br />
    57-601-237.50.10 / 41.12/ 52.53 / 43.68/ 51.32<br />
</address>

<address>
    <strong>Contactar por Correo:</strong>
    <a href="mailto:contacto@thefactoryhka.com">contacto@bitsamericas.com</a><br />
</address>
