@{
    ViewData["Title"] = "Inicio";
}

<!--Diseño: Activacion de las Particulas-->
@*<div id="particles-js"></div>*@
@*<hr />*@
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-6 col-md-offset-2" align="right">
        <img src="~/images/logos/logoSGO.jpg" />
    </div>
</div>
<div class="jumbotron">   
    <h1 id="title">BITS SEGO</h1>
    <h3>Bits Americas SAS - Colombia</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Visión</h2>
        <p>
            Ser una Amplia Solución que otorgue valor agregado para los clientes y usuarios de la empresa The Factory HKA a las operaciones
            relacionadas con sus productos y servicios en ColombiaS.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Alcance</h2>
        <p>
            Contribuir en la agilización en los procesos operativos pre-venta y post-venta de los productos y servicios que permitan generar un buen soporte y
            asesoría técnica a los clientes para garantizar repuestas efectivas.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Beneficio </i></h2>
        <p>
            La agilización en los procesos operativos pre-venta y post-venta de los productos y servicios de la empresa Bits Americas SAS Colombia de manera
            tal que permitan generar un buen soporte y asesoría técnica a los clientes y usuarios.
        </p>
    </div>
</div>