@model Sisgtfhka.Models.Chargue

@{
    ViewData["Title"] = "Borrar Cargo";
}

<h2>Borrar Cargo</h2>

<h3>Estás seguro que quieres eliminar este Cargo?</h3>
<div>
    <h4>Datos del Cargo a borrar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rolId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rolId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
