@{
    ViewData["Title"] = "_StartOrderModal";
}

<!-- Modal Editar para Iniciar Orden-->
<div id="dtsOrdenModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dtsOrdenModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">*</button>
            </div>
            <div class="modal-body">
                <div id="modal-contentStartOrder">
                    Cargando Datos de la Orden..
                </div>
            </div>
        </div>
        <!-- modal-content-->
    </div>
    <!-- modal-dialog-->
</div>

<!-- Modal para Asignar Orden-->
<div id="dtsAssignModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dtsOrdenModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">*</button>
            </div>
            <div class="modal-body">
                <div id="modal-contentAsignarOrden">
                    Cargando Datos de la Orden..
                </div>
            </div>
        </div>
        <!-- modal-content-->
    </div>
    <!-- modal-dialog-->
</div>